legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
ul {
    list-style-type: none;
}
.gg-object-info-input-field{
    display: inline;
    width: 100px;
}
.btn-separator:after {
    content: ' ';
    display: inline;
    background: #ADADAD;
    margin: 0 10px;
    height: 34px;
    width: 1px;
}
#gg-tool-bar{
    /*height:25px;*/
    width:100vw;
    margin-top:10px;
}

#gg-map-scene{
    width:50vw;
    height:70vh;
    overflow-x:scroll;
    overflow-y: scroll;   
    display: inline-block;
}
#gg-info-panel{
    width:20vw;
    height:70vh;
    overflow-y: scroll;
    display: inline-block;
}
#gg-map-panel{
    width:26vw;
    height:70vh;
    overflow-y: scroll;
    display: inline-block;
}
#gg-map-tile-panel{
    transform-origin: left top;
    transform: scale(2);
}
table>tbody>tr>td {
    border: 1px solid;
    padding:0;
    margin:0;
}
table>th {
    border: 1px solid;
    padding:0;
    margin:0;
}
table {
    width:100%;
    height:100%;
}

#gg-state-info{
    display:none;
}
#gg-tool-object-list{
    display:none;
}
.panel-body{
    height:100%;
}
/*Hierarchy*/
.gg-hierarchy-view{
    position: absolute;
    right: 35px;
    top: 13px;
}
.gg-hierarchy-select{
    position: absolute;
    right: 20px;
    top: 13px;
}
.gg-hierarchy-delete{
    position: absolute;
    right: 7px;
    top: 13px;
}


.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}